.gallery-menu-bar{
    display: flex;
    padding: 27px 0px;
    position: relative;
}

.gallery-bar-1{
    position: absolute;
    left: -444px;
}

.gallery-bar-2{
    position: absolute;
    left: -218px;
}

.page-numbers{
    margin-right: 18px;
}

.gallery-bar-2 a{
    padding: 0px;
}

.arrow-left{
    transform: rotate(180deg);
    position: absolute;
    top: -1px;
    right: 19px;
}

.arrow-right{
    position: absolute;
    top: -1px;
}

.gallery-links{
    color: #838383;
}

.gallery-bar-3{
    position: absolute;
    right: -462px;
}

.gallery-content{
    width: 220px;
    /* margin-top: 68px; */
    padding: 10px;
    cursor: pointer;
}

.gallery-content img{
    width: 220px;
    height: 181px;
}

.gallery-content-1{
    padding: 10px 10px;
    line-height: 20px;
}

.gallery-content-2{
    display: flex;
    align-items: center;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.gallery-content-4{
    margin-bottom: 290px;
}

.modal-container{
    background-color: black;
    height: 1400px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    display: none;
    position: fixed;
}

.modal-container .main-image{
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    position: relative;
    text-align: center;

}

.main-image .modal-image{
    width: 220px;
    height: 181px;
}

.modal-container .close-button{
    float: right;
    margin: 11px 30px 0 0px;

}
.main-image .arrow{
    position: absolute;
    top: 76px;
}

.main-image .left-arrow{
    left: -3px;
}

.main-image .right-arrow{
    right: -3px;
}

.main-image h4{
    color: white;
    font-size: 15px;
    margin-top: 20px;
}