@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?224231');
    src:  url('fonts/icomoon.eot?224231#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?224231') format('truetype'),
        url('fonts/icomoon.woff?224231') format('woff'),
        url('fonts/icomoon.svg?224231#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face{
    font-family: playfair;
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telephone:before {
    content: "\e900";
}

.icon-google:before {
    content: "\e901";
}

.icon-mail:before {
    content: "\e906";
}

.icon-home:before {
    content: "\e907";
}

.icon-facebook:before {
    content: "\ea91";
}

.icon-twitter:before {
    content: "\ea96";
}

body{
    font-family: 'Quattrocento Sans', sans-serif;
    color: #838383;
    font-size: 13px;
}


h1, h2, h3, h4, h5, h6{
    color: #404040;
}

h1,h2{
    font-family: 'Rokkitt', serif;
}

h4{
    text-transform: uppercase;
}

a{
    color: #cc6a00;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.centralized-container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    position: relative;
}

.header-container{
    height: 136px;
    background-color: #4e3c1c;
    
}

.header-title{
    font-family: playfair;
    color:#fff600;
    font-size: 34px;
    line-height: 1.71;
    position: absolute;
    top: 45px;
    left: 30px;
}

.header-title-world{
    color: #fff600;
}

.header-title-tree{
    color: #3dae00;
}

.header-title-preservation{
    color: #ffffff;
}

.header-sub-title{
    font-family: 'Rokkitt-bold', serif;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 100px;
    left: 36px;
}

.header-menu-bar{    
    position: absolute;
    top: 97px;
    right: 12px;
}

.header-menu-bar a{
    font-family: 'Rokkitt-bold', serif;
    color: #ffffff;
    padding: 0px 15px;
    font-size: 16px;
    
}

.header-menu-bar a:hover{
    color: #fff600;
}

.donate-now{
    width: 195px;
    height: 78px;
    background-color: #8fae00;
    border: 3px solid #f2f2f2;
    border-radius: 8.4px;
    position: absolute;
    left: 718px;
    top: -28px;
}

.donate-now a{
    font-family: Rokkitt;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    left: 17px;
    top: 45px;
}

.donate-now:hover{
    background-color: orange;
}

.content{
    /* background-color: chocolate; */
}

.contact-container{
    height: 228px;
    background-color: white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
    
}

.contact-container h4{
    margin: 5px 0 10px 0;
}

.footer-container{  
    height: 50px;
}

.contact-container .centralized-container{
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 30px;
}

.contact-container .contact-container-content{
    margin: 8px 0 0 24px;
}

.contact-container .centralized-container a{
    display: block;
}

.contact-container .custom-service{
    height: 180px;
    width: 174px;
}

.contact-container .custom-service a{
    margin: 25px 0 25px 0; 
    color: #838383;
    text-decoration: underline;
    display: inline-block;
}

.contact-container .custom-service span{
    font-size: 14px;
    color: black;
    margin-right: 5px;
}

.contact-container .recent-tweets{
    width: 395px;
    height: 180px;
}

.contact-container .recent-tweets .recent-tweets-content{
    line-height:22px;
}

.contact-container .recent-tweets .recent-tweets-content a{
    margin-bottom: 17px ;
}

.contact-container .social-medias-newsletter{
    width: 180px;
    height: 180px;
}

.contact-container .social-medias-newsletter a{
    color: #838383;
    margin-top: 10px;
}

.contact-container .social-medias-newsletter span{
    margin-right: 5px;
    color: #3dae00;
}

.newsletter-form{
    margin-top: 25px;
    position: relative;
}

.input-newsletter{
    width: 174px;
    height: 26px;
    border: solid 1px #cfcfcf;
    box-sizing: border-box;
    padding-left: 7px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 12px;
    outline: none;
    
}

.button-submit{
    position: absolute;
    left: 149px;
    height: 26px;
    color: white;
    background-color: #cfcfcf;
    border: none;
    font-family: 'Rokkitt', serif;
    font-size: 9px;
}

.footer-container .centralized-container{
    justify-content: space-between;
    margin-top: 5px;
    padding: 27px;
    font-size: 11px;
}
.footer-menu{
    width: 423px;

}
.footer-menu a{
    margin-right: 25px;
    font-size: 11px;
    color: #838383;
}

.footer-menu ul{
    display: flex;
}

.footer-menu .copyright{
    width: 296px;
}