@font-face {
    font-family: playfair;
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
    
}

body{
    font-family: 'Quattrocento Sans', sans-serif;
    color: #838383;
    font-size: 14px;
}


h1, h2, h3, h4, h5, h6{
    color: #404040;
}

h1,h2{
    font-family: 'Rokkitt', serif;
}

a{
    color: #cc6a00;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.centralized-container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    position: relative;
}

.header-container{
    height: 136px;
    background-color: #4e3c1c;
    
}

.header-title{
    font-family: playfair;
    color:#fff600;
    font-size: 34px;
    line-height: 1.71;
    position: absolute;
    top: 45px;
    left: 30px;
}

.header-title-world{
    color: #fff600;
}

.header-title-tree{
    color: #3dae00;
}

.header-title-preservation{
    color: #ffffff;
}

.header-sub-title{
    font-family: 'Rokkitt-bold', serif;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 100px;
    left: 36px;
}

.header-menu-bar{    
    position: absolute;
    top: 97px;
    right: 12px;
}

.header-menu-bar a{
    font-family: 'Rokkitt-bold', serif;
    color: #ffffff;
    padding: 0px 15px;
    font-size: 16px;
    
}

.header-menu-bar a:hover{
    color: #fff600;
}

.donate-now{
    width: 195px;
    height: 78px;
    background-color: #8fae00;
    border: 3px solid #f2f2f2;
    border-radius: 8.4px;
    position: absolute;
    left: 718px;
    top: -28px;
}

.donate-now a{
    font-family: Rokkitt;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    left: 17px;
    top: 45px;
}

.donate-now:hover{
    background-color: orange;
}

.content{
    /* background-color: chocolate; */
}

.home-banner{
    background-color: #8fae00;
    width: 100%;
}

.home-banner-2{
    display: flex;
    justify-content: space-between;
}

.banner-image{
    background-image: url(http://placehold.it/366x361);
    background-repeat: no-repeat;
}

.text-1{
    color: #ffffff;
    font-size: 24px;
}
.text-2{
    color: #ffffff;
    font-size: 36px;
}

.text-3{
    color: #fff600;
    font-size: 48px;
}

.text-4{
    line-height: 20px;
    padding: 10px 5px;
}

.container-home{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}

.contact-container{
    height: 228px;
    background-color: aqua;
}

.footer-container{  
    background-color: chartreuse;
    height: 50px;
}