body{
    font-family: 'Open Sans', sans-serif;
}

.centralized-container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: burlywood;
}

.header-container{
    height: 136px;
    background-color: #4e3c1c;
}

.content{
    background-color: chocolate;
}

.contact-container{
    height: 228px;
    background-color: aqua;
}

.footer-container{  
    background-color: chartreuse;
    height: 50px;
}