.content .centralized-container{
    padding: 50px 0 234px 0;
}

.centralized-container h3{
    background: white;
    padding-bottom: 15px;
    text-align: initial;
}

.our-programs-container{
    width: 220px;
    height: 722px;
    background-color: #cc6a00;
    text-align: center;
}

.our-programs-container h4{
    color: white;
    padding: 15px;
}

.content .license-container{
    width: 460px;
    height: 545px;
    margin: 60px 20px 0 20px;
}

.license-container p{
    line-height: 24px;
    text-align: left;
}
